.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-item:nth-child(even) .project-desc {
  order: 0;
  padding-left: 0;
  padding-right: 36px;
  text-align: right;
}
.project-item:nth-child(even) .project-thumbnail {
  order: 1;
}

.project-item {
  flex: 1 1 100%;
  position: relative;
  padding: 48px 12px;
  height: 500px;
  margin: 12px;
  display: flex;
  align-items: center;
}

.project-thumbnail {
  overflow: hidden;
  flex: 0 0 70%;
  max-width: 700px;
  height: 100%;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 400ms ease;
}

.project-thumbnail:focus {
  outline: none;
}

.project-thumbnail:hover {
  opacity: 0.7;
}


.project-desc {
  flex: 0 0 30%;
  padding-left: 36px;
}

.project-desc p {
  font-size: 20px;
  line-height: 28px;
  color: rgba(0,0,0,0.6);
}

.project-thumbnail img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  /* background-color: blue; */
}

@media (max-width: 700px) {
  .project-item {
    flex-wrap: wrap;
    margin: 0;
    padding: 24px 12px;
    height: auto;
  }
  .project-desc p {
    font-size: 18px;
    line-height: 26px;
  }
  .project-thumbnail,
  .project-item:nth-child(even) .project-thumbnail {
    flex: 1 1 100%;
    order: 0;
    height: 50vw;
  }
  .project-desc,
  .project-item:nth-child(even) .project-desc {
    flex: 1 1 100%;
    order: 1;
    padding: 24px 12px;
    text-align: left;
  }
  .project-list h2, .project-list p {
    padding: 0;
    margin-bottom: 12px;
  }
}
