<h1>Storyform</h1>
<h2>Overview</h2>
<p class="callout">In spring of 2014, my friend Rylan Hawkins and I founded Storyform to help small publishers create impactful and immersive reading experiences for their readers.</p>

<p>A little over a year earlier the New York Times had released “Snowfall,” an interactive, longform article that told the story of a growing number of avalanche deaths amongst professional skiers. The piece became an immediate sensation for it’s unique and captivating mix of multimedia and text, some calling it a “breakpoint in online journalism.” Snowfall’s success ushered in a new wave of online journalism with publishers searching for similar ways to produce longform, immersive reading experiences. However, at that time publishing tools were not yet conducive for creating these sorts experiences. In fact, it had taken a team of 11 NYT staffers over 6 months to create “Snowfall” from scratch. Rylan and I saw an opportunity to build better tools for small publishers. </p>

<div class="video">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/d6teayrKJz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h2>Problem</h2>
<p>Small publishers often found themselves stuck between a rock and hard place when it came to monetizing their content. On one hand, they were continually vying for engagement from their readers by creating captivating material. However, they were always balancing the expense of creating this material against their tight advertising revenue and inflexible publishing platforms. Budgets were small, teams were sparse, and yet expectations from readers continued to grow. To add on top of that, publishers often had very little data around what pieces were providing the greatest revenue for them -- with advertising impressions continuing to decay across the board.</p>

<h2>The Creation of Storyform</h2>
<p>At the founding of Storyform, most publishers built their sites on WordPress and were limited by whatever bespoke templates their technical teams could scrape together. Therefore, Rylan and I decided to create set of automated publishing tools that would integrate into a publisher’s site, allow editors to create captivating multimedia experiences, require zero technical expertise, drive substantially higher engagement, and also provide more detailed analytics around ad impressions.</p>

<img src="/assets/storyform-showcase.jpg" />

<h2>Leveraging Automation</h2>
<p>At the heart of Storyform was our matching algorithm. One of our core design principles was to be a truly content first, responsive publishing platform that could handle whatever material a team of creators could throw at it on whatever device it was rendered. The second goal of Storyform was to provide a top shelf reading experience that leveraged the benefits of print and magazine layouts within a digital form.</p>

<p>Therefore we created a huge series of layout templates that could render different amounts of text, imagery, video, and other publishing elements like drop quotes and pull quotes. Our algorithm would analyze the writers content and match it to whatever templates fit best for the reader’s screen size. This essentially allowed editors to create and edit their content with their current publishing tools and let our system automatically render their stories in an interactive, paginated experience without any additional work.</p>

<img class="small-width" src="/assets/storyform-process.jpg" />

<!-- <video width="600" height="400" autoplay>
  <source src="/assets/storyform-ipad.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video> -->

<img class="full-width" src="/assets/storyform-devices.jpg" />


<h2>Improving on Engagement and Advertising</h2>
<p>The big promise of Storyform was that it would help drive much higher engagement for publishers, both with readership and with ads. Current advertising and engagements stats were abysmal:</p>

<div class="grid small-width storyform-grid">
  <div class="grid-item">
    <img src="/assets/ad-1.png" />
    <h5>Online Attention Span</h5>
  </div>
  <div class="grid-item">
    <img src="/assets/ad-2.png" />
    <h5>Standard Ad Visibility</h5>
  </div>
  <div class="grid-item">
    <img src="/assets/ad-3.png" />
    <h5>Brand Recall from Display Ads</h5>
  </div>
  <div class="grid-item">
    <img src="/assets/ad-4.png" />
    <h5>Standard Ad Engagement</h5>
  </div>
  <div class="grid-item">
    <img src="/assets/sf-1.png" />
    <h5>Storyform Article Engagement</h5>
  </div>
  <div class="grid-item">
    <img src="/assets/sf-2.png" />
    <h5>Storyform Ad Visibility</h5>
  </div>
  <div class="grid-item">
    <img src="/assets/sf-3.png" />
    <h5>Storyform Percentage Read</h5>
  </div>
  <div class="grid-item">
    <img src="/assets/sf-4.png" />
    <h5>Storyform Ad Engagement</h5>
  </div>
</div>

<p>With Storyform we found that users were reading up to 2x as much content and spending upwards of 5x longer on ads. This promise of higher engagement as well as more robust analytics around ad visibility and engagement made Storyform a promising idea for many small publishers.</p>

<h2>So… What Happened?</h2>
<p>After a year, Storyform had over 4000 active users, had received international press, and had even placed in an international journalism contest. Yet, we couldn’t keep the doors open.</p>

<p>Ultimately, we failed at one of the basic rules in starting a business–follow the money. While we knew that publishers had tight budgets, we didn’t realize exactly how tight and struggled to repeatedly upsell our clients. While Storyform had a “cool” factor to it, publishers had bigger fish to fry. Next, we found that trying to introduce new ad formats into our products was an uphill battle. There were too many competitors in the space and many companies weren’t willing to experiment with new ad formats. Without a host of ad tools and a library of ad real estate we were dead in the water.</p>

<img src="/assets/storyform-engagement.jpg" />

<h2>What I Learned</h2>
<p>Know what problems you’re solving and know them intimately. It’s so easy in product development to get hung up on a specific product vision, to push your biases onto your customers, or even get sidetracked by specific customer input. In design we talk a lot about customer empathy, but you can’t be empathetic to your customers if you haven’t taken the time to not only understand their pain points, but to grasp their severity and their place in the larger context of the user. Otherwise, you’ll find you’re creating beautiful solutions for minor nuisances.</p>

<p>Also, follow the money.</p>
