<h1>Storyform</h1>
<h4>What I learned starting, running, and failing at my first startup. </h4>

<h2>Overview</h2>
<p class="callout">In spring of 2014, my co-founder Rylan Hawkins and I founded Storyform to help small publishers create impactful and immersive reading experiences for their readers.</p>

<p>A little over a year earlier the New York Times had released “Snowfall,” an interactive, longform article that told the story of a growing number of avalanche deaths amongst professional skiers. The piece became an immediate sensation for it’s unique and captivating mix of multimedia and text, some calling it a “break point in online journalism.” Snowfall’s success ushered in a new wave of online journalism with publishers searching for similar ways to produce longform, immersive reading experiences. However, at that time publishing tools were not yet conducive for creating these sorts experiences. In fact, it had taken a team of 11 NYT staffers over 6 months to create “Snowfall” from scratch. Rylan and I saw an opportunity to build better tools for small publishers. </p>

<div class="video">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/d6teayrKJz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h2>Problem</h2>
<p>Small publishers often found themselves stuck between a rock and hard place when it came to monetizing their content. On one hand, they were continually vying for engagement from their readers by creating captivating material. However, they were always balancing the expense of creating this material against their tight advertising revenue and inflexible publishing platforms. Budgets were small, teams were sparse, and yet expectations from readers continued to grow. To add on top of that, publishers often had very little data around what pieces were providing the greatest revenue for them -- with advertising impressions continuing to decay across the board.</p>

<h2>The Creation of Storyform</h2>
<p>At the founding of Storyform, most publishers built their sites on WordPress and were limited by whatever bespoke templates their technical teams could scrape together. Therefore, Rylan and I decided to create set of automated publishing tools that would integrate into a publisher’s site, allow editors to create captivating multimedia experiences, require zero technical expertise, drive substantially higher engagement, and also provide more detailed analytics. </p>

<img src="/assets/storyform-showcase.jpg" />

<h3>Leveraging Automation</h3>
<p>At the heart of Storyform was our matching algorithm. One of our core design principles was to be a truly content first, responsive publishing platform that could handle whatever material a team of creators could throw at it on whatever device it was rendered.</p>

<p>Therefore we created a huge series of layout templates that could render different amounts of text, imagery, video, and other publishing elements like drop quotes and pull quotes. Our algorithm would analyze the writers content and match it to whatever templates fit best for the reader’s screen size. This essentially allowed editors to create and edit their content with their current publishing tools and let our system automatically render the final layouts.</p>

<img class="small-width" src="/assets/storyform-flow.jpg" />

<video width="600" height="400" autoplay>
  <source src="/assets/storyform-ipad.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>

<h3>Improving on Engagement and Advertising</h3>

<h3>Why We Failed</h3>
