<h1>Nice to meet you.</h1>

<p>My name is Luke, and I’m a product designer who’s helped support non-profits, built sites for photography studios and small digital agencies, run my own publishing startup, and helped people make dinner each night. I enjoy the intersection of ux research, design systems, and interaction design.</p>

<p>I’m more interested in collaborating to understand and solve problems than winning design awards, and I enjoy working with people with similar mindsets. With that said, here are a few <a href="/resume#awards">awards worth sharing.</a></p>

<!-- <ul>
  <li><b>Red Dot</b> - Joule Sous Vide</li>
  <li><b>Webby</b> - 2017 Nominee Mobile Sites & Apps - Connected Products & Wearables</li>
  <li><b>Dieline Awards</b> - Third Place 2017</li>
  <li><b>Global Editors Network Awards</b> – Startups for News Semifinalist</li>
  <li><b>Kantar Information is Beautiful Awards</b> – Shortlisted for Best Motion Infographic 2014</li>
  <li><b>The Drum Awards for Digital Industries</b> – Nominated for Best Viral Campaign 2014</li>
</ul> -->

<p>I like to climb mountains, ride my bike, and prune the fruit trees in my backyard. I may or may not have also helped make a B class horror film that's available on the internet.</p>

<p>I think that design has a very unique and integral part to play in defining the ethics of our future products, especially those working in technology.</p>

<p>I’ve been known to have opinions about Cheetos puffs.</p>

<h3>If you’re interested in working together drop me a note at clum.luke@gmail.com</h3>
