<!-- <div class="hero">
  <img src="/assets/cook-view-hero.jpg" />
</div> -->

<h1>Joule Sous Vide</h1>

<h2>Overview</h2>
<p class="callout">In the fall of 2016 we (ChefSteps) released Joule, a connected sous vide device, to the world. But a year and a half later, the core cooking UX needed some substantial improvements.</p>

<p>As the first fully connected sous vide device, Joule is controlled by a companion app that allows users to set it to specific temperature, monitor their cook, and guide them through a comprehensive cooking process. However, as the sole mechanism for controlling Joule, the app needed to provide a much more stable and consistent cooking experience despite frequent connection issues, error cases, and multi-device scenarios. </p>

<img src="/assets/cook-view-hero.jpg" />

<h2>Identifying the problems</h2>
<p>In late 2017, I was asked to lead the design efforts for the Joule app. To better understand the current state, I began by running a qualitative study that included a host of user interviews (local and remote), an in depth analysis of all of our reviews to date, and a bunch of early stage prototyping and evaluative testing.</p>

<img src="/assets/cook-research.jpg" />

<p>It quickly became clear to us that users were struggling with parts of the basic cooking process. There were problems with missed notifications, a lack of some core cooking information, confusion with adding food, and some general ambiguity about the sous vide process as a whole.</p>

<p>Moving forward, we decided that we needed to take a fresh look at the core cooking experience in the app, with an emphasis on a few themes:</p>
<ul>
  <li>Users should easily be able to identify the current cooking state with ease.</li>
  <li>Users should feel confident about when they can add and remove their food.</li>
  <li>Users should have more transparency into errors and recovery.</li>
  <li>Users should be able to quickly and efficiently start a cook with limited additional interactions.</li>
  <li>Users should have access to UX patterns that can grow with future products and features.</li>
</ul>

<p>After a few rounds of early design, prototyping, and usability testing with both current and perspective Joule users, we landed on our next iteration.</p>

<img class="full-width" src="/assets/cook-flow.jpg" />

<h1>A more comprehensive cooking dashboard</h1>

<div class="fifty fifty-left">
  <img src="/assets/cook-status.jpg" />
  <div class="fifty-content">
    <h3>Simple, Glanceable Status</h3>
    <p>To help cut through the chaos of the kitchen, we designed a simple, glanceable view that would quickly communicate the status of the cook and showcase only the most relevant information.</p>
  </div>
</div>

<div class="fifty fifty-right">
  <img src="/assets/cook-timeline.jpg" />
  <div class="fifty-content">
    <h3>Detailed Cooking Stats</h3>
    <p>To help with missed notifications and meal planning we included a comprehensive timeline of cooking events.</p>
  </div>
</div>

<div class="fifty fifty-left">
  <!-- <img src="/assets/cook-autostart-timer.jpg" /> -->
  <video width="100%" height="auto" autoplay loop>
    <source src="/assets/cv-autostart.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video>
  <div class="fifty-content">
    <h3>Autostart Timers</h3>
    <p>In order to reduce unnecessary touch points, we decided to encourage users to drop their food early and let Joule automatically start their timer once their water was heated. This addressed one of our most common user complaints.</p>
  </div>
</div>

<div class="fifty fifty-right">
  <img src="/assets/cook-status.jpg" />
  <div class="fifty-content">
    <h3>Holding Times</h3>
    <p>One of the major benefits of sous vide is the fact that you don’t have to remove your food as soon as it’s complete. Instead, it’s flexible enough to be ready when you are. To make this value more clear, we released a new feature that let users know how long they could leave their food before the results would start to change.</p>
  </div>
</div>

<div class="fifty fifty-left">
  <img src="/assets/cook-status.jpg" />
  <div class="fifty-content">
    <h3>More Intuitive Errors</h3>
    <p>To make errors more clear and recoveries more obvious, we released a simplified pattern that helped users troubleshoot their problem and easily recover when possible.</p>
  </div>
</div>

<div class="fifty fifty-right">
  <img src="/assets/cook-status.jpg" />
  <div class="fifty-content">
    <h3>Simple and Familiar Recipes</h3>
    <p>We simplified the recipe layout to follow more common usability patterns and be much more scannable.</p>
  </div>
</div>

<img class="full-width" src="/assets/cook-closer.jpg" />

<h2 class="align-center">What People Said</h2>

<div class="grid">
  <p class="grid-item">“Much more intuitive and let's you know where you are in a cook. Super helpful for when doing two cooks at once.”</p>

  <p class="grid-item">“The new cook timer is great. I love that it keeps track of how long the food had been in the water.”</p>

  <p class="grid-item">“Love the new timer and the guides.”</p>

  <p class="grid-item">“I loved the new look and feel. Gives better and more complete information about where you are in the process “</p>

  <p class="grid-item">“The cooking view is MUCH better than before. I like the timeline since it gives me all the timing information up front, but also it lets me look back later on. If I forget to tell the app I put the food in, I can still figure out the correct end time.“</p>

  <p class="grid-item">“REALLY like the changes to the app. I didn't know I wanted it different than what it was, but now that I've seen the newest version DO NOT want to go back ever.”</p>

  <p class="grid-item">“The cook page is a great enhancement. Having additional detail about the heat and cook states has been really helpful, since I often deal with wonky connectivity issues and can't always rely on notifications.”</p>

  <p class="grid-item">“The new cook time interface is really helpful. Seeing the progress is amazing.”</p>
</div>
