img {
  width: 100%;
}

.home-hero {
  max-width: 860px;
  padding: 48px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: column;
  position: relative;
}

.home-callout {
  text-align: left;
  margin: 0 0 24px;
  max-width: none;
}

.home-cta {
  text-align: center;
}

.home-cta img {
  width: 50px;
  padding: 24px 0 0;
}

.home-hero-section {
  position: relative;
  overflow-x: none;
}

/* .home-hero-section::before {
  content: "";
  position: absolute;
  top: -80px;
  left: -330px;
  background-color: #E16446;
  opacity: 0.5;
  width: 480px;
  height: 480px;
  border-radius: 240px;
}

.home-hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: -150px;
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  border-bottom: 370px solid #45D0FB;
  opacity: 0.7;
} */


@media (max-width: 900px) {
  .home-callout {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .home-hero {
    padding: 48px 0 56px;
  }
  .home-callout {
    margin: 0 0 48px;
  }
}
