<div class="home-hero">
  <h1 class="home-callout">Luke Clum is a product designer based in Seattle, WA.</h1>
</div>
<!-- <div class="dot-list">
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
  <div class="dot-item"></div>
</div> -->
<app-project-list></app-project-list>
