<div id="experience" class="resume-block">
  <div class="resume-section"><h2>Experience</h2></div>
  <div class="resume-details">
    <div class="resume-item">
      <h3 class="resume-title">Senior Product Designer</h3>
      <h5 class="resume-date">2015 - 2019</h5>
      <h5 class="resume-employer">ChefSteps</h5>
      <div class="resume-desc">
        <p>Launched Joule, one of the world’s best sous vide products, controlled by a companion app with over 250K units sold.</p>
        <p>Led design for the Joule app with a human-centered and research-based design approach.</p>
        <p>Created and managed a design system for the Joule app.</p>
        <p>Regularly ran user testing and interview sessions.</p>
      </div>
    </div>

    <div class="resume-item">
      <h3 class="resume-title">Co-Founder / Product Designer</h3>
      <h5 class="resume-date">2014 - 2015</h5>
      <h5 class="resume-employer">Storyform</h5>
      <div class="resume-desc">
        <p>Launched Storyform, a smart publishing tool that automates the creation of immersive stories and digital magazines.</p>
        <p>Led design and research efforts, including early exploratory research and usability testing.</p>
        <p>Regularly deployed front-end code and developed production features.</p>
        <p>Managed and negotiated client relationships.</p>
      </div>
    </div>

    <div class="resume-item">
      <h3 class="resume-title">Creative Lead</h3>
      <h5 class="resume-date">2012 - 2014</h5>
      <h5 class="resume-employer">Distilled</h5>
      <div class="resume-desc">
        <p>Co-managed a team of eight designers, developers and analysts to create digital creative campaigns.</p>
        <p>Drove creative and marketing strategy, pitched clients, led art direction, and project managed the production cycle.</p>
      </div>
    </div>

    <div class="resume-item">
      <h3 class="resume-title">UX / UI / Interaction Design</h3>
      <h5 class="resume-date">2010 - 2015</h5>
      <h5 class="resume-employer">Freelance</h5>
      <div class="resume-desc">
        <p>Designed and developed microsites, wordpress themes, and UI components for clients.</p>
      </div>
    </div>

    <div class="resume-item">
      <h3 class="resume-title">Design Lead</h3>
      <h5 class="resume-date">2010 - 2012</h5>
      <h5 class="resume-employer">Experience Mission</h5>
      <div class="resume-desc">
        <p>Designed promotional content, web UI, and video for a small non-profit.</p>
      </div>
    </div>
  </div>
</div>

<div id="education" class="resume-block">
  <div class="resume-section"><h2>Education</h2></div>
  <div class="resume-details">
    <div class="resume-item">
      <h3>Bachelor of Arts</h3>
      <p>Seattle Pacific University</p>
    </div>
  </div>
</div>

<div id="awards" class="resume-block resume-awards">
  <div class="resume-section"><h2>Honors & Awards</h2></div>
  <div class="resume-details">
    <div class="resume-item">
      <h5>Red Dot</h5>
      <p>2017 - Joule Sous Vide</p>
    </div>

    <div class="resume-item">
      <h5>Webby</h5>
      <p>2017 - Nominee Mobile Sites & Apps - Connected Products & Wearables - Joule Sous Vide</p>
    </div>

    <div class="resume-item">
      <h5>Dieline</h5>
      <p>2017 - Third Place - Joule Sous Vide</p>
    </div>

    <div class="resume-item">
      <h5>Global Editors Network Awards</h5>
      <p>2014 - Startups for News Semifinalist - Storyform</p>
    </div>

    <div class="resume-item">
      <h5>Kantar Information is Beautiful Awards</h5>
      <p>2014 - Shortlisted for Best Motion Infographic</p>
    </div>

    <div class="resume-item">
      <h5>The Drum Awards for Digital Industries</h5>
      <p>2014 - Nominated for Best Viral Campaign</p>
    </div>

  </div>
</div>

<div id="education" class="resume-block">
  <div class="resume-section"><h2>Contact</h2></div>
  <div class="resume-details">
    <div class="resume-item">
      <h3>Luke Clum</h3>
      <p>clum.luke@gmail.com</p>
    </div>
  </div>
</div>
