<h1>Joule Retail Packaging</h1>
<p class="callout">As Joule started to make its way onto store shelves, we needed to redesign the packaging to better perform in a retail environment.</p>

<p>Fellow designer <a href="https://www.emmettbarton.com/" target="_blank">Emmett Barton</a> and I took 2 weeks to overhaul Joule's packaging.</p>

<img src="/assets/joule-packaging-01.jpg" />
<img src="/assets/joule-packaging-02.jpg" />
<img src="/assets/joule-packaging-03.jpg" />
<img src="/assets/joule-packaging-04.jpg" />
