/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'TF-Semi';
  src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACjEAA8AAAAAVlgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAoqAAAABwA
AAAcc6eOr0dERUYAACCAAAAAHwAAACAAcgAGR1BPUwAAIMwAAAfbAAAYWFEFOdlHU1VCAAAgoAAA
ACwAAAAwuP+4/k9TLzIAAAHMAAAAVQAAAGBntYNxY21hcAAAAxQAAAClAAABYnjlM1FnYXNwAAAg
eAAAAAgAAAAI//8AA2dseWYAAARIAAARPQAAGcC4NxjJaGVhZAAAAVgAAAAzAAAANhK6Zi9oaGVh
AAABjAAAACAAAAAkB68C8WhtdHgAAAIkAAAA7QAAARScKwObbG9jYQAAA7wAAACMAAAAjMtO0XRt
YXhwAAABrAAAAB4AAAAgAIwAPm5hbWUAABWIAAAKcQAAHkKeFa2ocG9zdAAAH/wAAAB7AAAArAb5
B1J42mNgZACCtLSl6ond8fw2Xxm4mV+ARK4/uhcFo/9//a/I/ICZn4GRgYOBCSQKAKeRDxEAeNpj
YGRgYOb/r85wgvn2/6//VzI/YACKoABXALJyB6V42mNgZGBgcGWwZmBlAAEmIGZkAIk5gPkMAA+2
AMsAAHjaY2Bh8mSKYGBlYGHqAtIMDN4QmjGOQY7RgYGBiYmdmY2ZmY2FGSjHyIAEvH08fRkVGBQY
qpj5/6sznGbeyfBLgYFhMkiOSYFpH5BSYGACAMqwCwgAAAB42hWPsUoDQRRF77tDNLqSkGSFXQlJ
ZycWi7WCYGeVKmmsBAkkhVUKET/APthaCrG1tcsHaCGkkFiIP6Bms4HndeDMuTzevJkJz+hBy061
PYkcTTtCS27xVvkO22yjxIYYYJ0VlNlRvUDEY+wop3z3gvdIOFZeyteiI16RhgyJXSrv+i8/5SGS
8ADwCxt8U/+Nav+eyXuaN8EW59jk1Isw09wX/+ajfK57a6iw67l9IOYF6rZAbGcIrHvOESLLULXY
f9hT3kcUJqjyShyiof41dnVGNZsitaHe0NefDnwVBE98ycxX5qj9AR/MQSYAAAB42mNgYGBmgGAZ
BkYGEIgB8hjBfBYGByDNw8DBwARkKzDoMVgyRDFU/f8PFFVg0GEwYHBkSPz////j/zf+X/9/4f8p
qAlwwMjGABdiZAISTAxoCiBWwwALKxsDOwcnFzcPLx+/AFRQUEhYRFRMXEJSSlpGVk5eQVFJWUVV
TV1DUwsir62jq6dvYGhkbGJqZm5haWVtY2tn7+Do5OzCMBgAAJJ1GdAAAAAAAAAqACoAKgAqAEYA
VABoAIQAogDSARABNgFoAZoBsgIAAjICZgKmAtAC/AM0A2gDnAPeBAIELgRwBJgE3AUMBToFbAWo
BeYGIgZKBn4GrAbyBzgHdAeWB9wICgg4CGwImAjKCRoJUgl6CaAJ2An0CkYKfgqiCtwLEgs6C3AL
lAvIC/YMPAyADL4M4HjafVgJeFNluj7/n61N05OmWU6SNuvJ2qRNkzRJ25TudLG0dAVswVK6sBWL
BcoiWgFnVFCvIoigjNuAuIxXEX1EHcfReVAYl5k7XpHB0Zk7KsPFuaPODK45vd9/TpK2yMzztGnO
afK93/t97//+338oCdVLUaIRkYISUVIqk1JQSooKq2yqTLEqE8GPrVekSAwiBjHcS9xf0Rqk5l7h
zuMikeL7f+BT3HlyH6kTv4f7f8Uu8j8KUflTt1AfUIdJrBjripREwyGdViOVRSrRbc66kNNfsrY9
UCnOqXIWVRY3D0hk8hqKgu+ZAceOWiEXCtkiNmTnvkdixET5/01dpM5SxyBHKsoH1EhZuznmccdi
bo+/MxrthI9RGLAv4rX4DfhcNkVJ7K4c8tkcqSuUY0cN248c2b7jkUe++ewz+SlUeeoU9+qpbPw8
j62Fl134dSqHorwIEo2o2EgsGgurNDoG7eJub7Ss8t7dJrPWKsVMAJ1WSPVrEruL9GLyXQkAiwDT
CnzDIfiSzBaJQYgSF2uXuSsRT5+W3vxRWcQhz+fML82N189ZXC73TC5cPKbJD/vnBlp22ur/lvFO
y4b6ypYO2bxlQz35ZcFSb8weI/GnLiIO4hcAmBlpCXNS1VhYqtXoABCAfMgdnY0nRfqh7Q+tGb3e
qh1QlxZHKwbb8sQPlYZ7yjKtW7vbBsbRHtHyruGtHRX5/kx7UbSpp6ljKDOysrisSzJv2fzami6+
njJ4WYBfpnJJhZwRWwSFVWEtC8CM1gZ1ctpUqJx7Cy3ZOjFhKuGeLzFxX6OM7ptl6CwX1d/sNWKl
EhtPouXAIwN4XMTnKQvUiWRtU9uEasmiuktYfRWt496pRDqzgc5iueM5x989sGbVdVbdgDou7ag8
ijbSphf68fh1q3bw+VuCkWYq3f9y6KOKMvP9j5Q4YgyNZEkNukPJMhEQVLHlMBK/JZ68K7dmoHvj
3hXBcHuD1Squlh+78dD5rCzj0a11Y31X30IPdnSP5Vqc2++neK1kwQsHNZETndqlMjZm0yIWPcWd
sHvUdCE6wf1+GJs9oW8liUZYXpQRcvJC/4yUi4oks4rGitD0yjCL4VWkYXSMkJ5UTfIsErv5NC1j
dw/U17bcNrzyusUVNn/EojvwYQfTGq0uDVdfU36Fxhh21KsirfKh1vK2bPPCpp4tVzZGGzJoncsT
dyy9DnfM9Wdbg51zOqoTO+viRp/JnGOSBZY0XQX1Mkx9jWP4pFAvRLIREwnFkt1g7ILGYiQvxGw5
zH1/mXrhk/+mYHjqO3j5GL8KaCbAyEJqLQvKiandYXVSRZGSAGJJT9D+dWPG92wuxZvmY1/SJdwx
ryuj6vM5GaD7Eu5N7nOaFuls2NuRWO8U0TTWMLT+0SM6upAiddYDzi7oCwMKg7US5pdxicsdsfEL
EMmExSNiVeEQ0IG/Gl0ckUrrwwZDGDVv2VHbW7Jyz97JBtaxs7k44vHIKupoCePBRg8joXvml8xz
SsRXzV88iB/nTh1saeOe474rsF7Z9TCvCwP0+Qa+zxSy00hYnKDvZC3DIQtiixDaXd1XsGpp07V5
WTlLbv3pqTMPbLhSJM9di48P7l+y71eT47+seuXAY2/Hj/RthooRTn8CTjlU/g8Y8VRSFFwCh/Ab
b793KOx0uLP6xrZNp/7SvkMn8OOJo37rf+478ALkSuJeA3Fdab/jwzKQoA+p+Ly1wnsBIBbG7Yk3
CAQOSrLY7oZN1wTd0uxsqTt4jacoWD3iy5pGe3GgkTsZiV2IRbiLblP/SBKvFvBssPb/DZQghyFA
cUqy7N2No4NBtyw7W+YODgaauLvChk4B4bXlzdzJktILpSXcPzxGCQ3YVLoHb0MP7OBWPIyWRiY0
uwMsEbUZbDKG/gdKVho2rLrzyIkPfrqZ70PT4KqCvuqg5RuCQzj9ov61vYffJf04vm/gvmENjwN8
RPnAxwc4goRV03C2SOq9Ns0pArsqrOU+7ud8n+rCRsQIf41hco87b6Tp6RKSd9+kU0h8mnqHsrm/
e5JcIQfUBzmo4e8MnBQ2ooXIAgoenQ6ShuDjTH0FNTNAnDy4mJG4ULTpXQbZhUg3TgxuKhzLdLu8
djyaCsmNrRtvqY9YPJ6K5vmdgheTnv8T4mooD1TJjaJ8WcJaqRKpYa/Xsi7R5dL+jwmg5in9W3X4
2Q8ccfs559mZPJ54GsmNKqUClj+KvMC9GIkh2oTnX56coLsRyEE/W+fJ1iSVXZt4LxXeU8TWDAWy
ZjciccFtWjrOx6OmONFhiEcYZSE2C0mBgGBnPDkdk4eIoCE+z5Fww4fKXzd+VCb11Z8tdImr3cEE
pvfsyMZfhx1VYraQe6zCMoIuJH6Guzhl0CQGXzPYsMllw7Texa1Dt7kZGlvdiT+zDAb/M/N5ZELP
/gJ5gCtIWKH7LE+PJIFUQqEhCXybldMVt/xfzFHuSaAx/xXnYw457uEyPAYAEhs8WDtXouBiaCJ1
Q+gdWUcvwzrKIggoNL0/M3Ya84KoxLBDIbTunmdevwt+b/LMYXM7O8irtQW/cerOh98lv3TZwETt
gVPkdfDekWldbIDcdWQSUAtW5kPaWVJgVMJgw+pR7c47991eKyx/Q/iitbW9uxm/PLpg6ejZ5NIX
WiXh9vf3dA6k8q/j89dRbrLjBtDM7ZYxY1ChaDYTrFjaFprcQ8jsmeg1m6KG6HczOf18rEn96nbC
atfr+VU6tVYcF228hJ3A7QJwyyC4iE2ycNqSwKRNLtjrZpNFYae7uW0+dy9qm9zdX7N3bvk5b+si
T0r2sNk80dfVeqV6sKe+R/XxCkzbdt3z5Sy985ogc0Zuck7kLU4idC2AwsTtyEQhmbEP2cvqPNVt
bdWeg+tqNznkWerN3RWtnqrW1irPHSvGrsSZuSP4eE3IHrKYHIH2yPJtTtOz/TfXlnkrHCab74rQ
0s3xn/SuBVwFcH6Q33ehm8xsK4c5mkxIeXijUu5bNMdnjXKPRm3+OYt8cvzyF5P9iYddWsJD68JL
+icFX5MDj4+FvYIEIplPCzrpS9N2QS3qWTBWCLpmD0zcdDBldtzDK9ZfPYb6Uqrm9l5/662TaPUM
b5j6bupb/CbgGOACIslghitCSXPQkHVMMPCbZic9ReVxf6bN+aizoIB+4n5lMIRfpnE+m9iFr7Xp
yIpVqXMc3BC601ugFNFCbNEfITb0QgI+IZoRWB1zC1dSASWS4iYT4b2H7tV/S4DqHKxi14JKpV6P
6roVO3YoQ6G3zA76Yyl6lmuZBtXauBu+P8RfSWw5Lu4GtLFQpVWS2YhkJ/j7P6E/ZyCXIth7eZeo
QiK+enatxoJi0wmAL/NtC5F5jIxjn37hiJqPntAFUHuDfnRDfij4R1OR6cCHoMyHWrU37/DCloUs
nr+jaidYk0nufvKgg4FAcNfs+jV3jxfemRXs2edjGlbIhcyCz0AuTrgggkQp6ukVMQfNKJYFYa/R
5GZPm1nNUdDOk1HbGzqdHnX5fdoDuKbIqFRJME+WO/m/KSWdQ9WslpRAlatyJARNZQDuQsBVgUZT
I3vqrIY+b+y2Z0lwPjf5FDF/R+K/0Xb8ePPy1zITVy0d/yQTP8R7Cj31FTZiK+Qe4JUJAwQcLUCN
7qQ3VoHHsFBURpZyG1EoFpHxoyB625tLizS1roLyzOpF8fbWxtsrq7KGNHlbF6xYeZrV1TjYArSR
+zIgk1hchc72hvJYgz64dlm/35wtZQ3xpvncGt3ZPDpYWFwOM/U3sEYaREphLlS7I3BSTR38WLub
SR1zYPmUxN8XG3tLe1c/uuVg5+fl9XOrfSYvfjAkLuUe9Vf8aOyWn9WGblo+PGbgfltezddKA+e0
94GnKekjujTRaQtl+QMBXVzZ29obFues617xo4Nr5y0zqBZKbVi5vn1sSwvuWnbnxi1HqmIGT4ZJ
H2zia5gLeQ9A3jqyuiVsLD2ZMRGeBFEBgPKYsMbRDrEovnrR+E+2xGzAQ+fh3imvaaz2mH3y5ct3
rdn1iH4/EEk0mTQ4C13c9uZ6PSouqwYcwuECcNCQqcY5I3mYzgRGIpBBGBAuqDYtGL1136qhq7kX
r2ofDH/kj4ieL3i8c3D3xJYjG/ukotWbWtDgitbOQVIb8mziOcgf5svYDI+LxGaXhrWbEEy1n9mL
ud+yhqamyYHaZi3dI3EFN20q0+dIFAqsNKCjUr9+5fqAV+2Q5eV19e9zEK2KoLc2zEDumaCzcnJW
5nsJWUvSh2QymCXrBkvanWw79AomGhmbfi7AzfW45npQ1WM/Hr6lzt+1ZsX2AX/RE7KVDduXxoNW
53tPv3LO0Nt8xfJ39rYu2z1/8Ez/REXEEZDZGjsi/sHO4RxFDRNq7BzWWPOtd6iLSmsryucK5188
DjWAdJ2qEkFlqUrMUGL6LtozLxA0stynrDF+WmweLm1sMTi4T1hjFFV253G3GJSYrwdeTUR5qKC2
p407nrxJNAMvyAuFzyA7TK7dJTz/uQT1V+2hkMcdyuRxDPH3cU+wKRRqGuF0qfBoK4Qn59GLU3bq
HB9PNzOeoD8pHH9x5Dkh2mOgua2rsNUmTYZ7l2SYt/rGArFrcUMZ5EZqMQy1oCkwOPXslNSxSmmk
JDXxatnzhLUDclPeL1JIMsVifMWHNSWjXx8TKRPu2UWQ7odPyCWZMrFFqlDIAsPcXnH62YOLx7sU
LR39B9HI96CGMLdaKbhwzpg9ZjfvMr2UVcLwxwgNFa2E4p5nmcbCAsbOfcYyDX4/Q+4Y4h+Ixab+
q5sUpqWx+sZouuKz2nvJFenGqK+mLEz6TSVzhLnQ+i91JbtUV/fMCwaS/YYELIMgLEFm0cth/UBX
avAiP+Bl8U//Zsy46vSKQ7YNd9+7Dn439IfDV4Wxdc/E9Q/tmbju4cTH5256AH5IHOmUH/fwceA0
7ZxhvbLL5s8vVRROOrEXLOI3Dp4A79IPbC6zSNN+/GDKK3A7UFhB/HrnEwbeR/14KWAyxIkQuEB4
ulpz0PTTm7SRFvZW9osloJHfFNuJoz54fVwwUmytqLg+8QpfF0mO/muw1Z1HVGkrFfqCDgEWzLZq
QgFm2B/05jN9XbFJpVtXLDge0EHj3b3ZO7zcf6XtbmtSi3C2QE/y+yjF2GcMpyLB0LTpIzoMBdLT
4w1See5QdUG0vKuzfKK7rz5TvrDMXRTv7opvkYf2da4IFjiLzWxTtLXff0N8md/pCJjZ5ljnUPK8
dhGtx/eRla7WgiPP2LWJbcO57Q/btrW5rKK8BZH6+fHYtU583x0O7rmFOokv1j4fdSn0/UHhGSxe
hi2pmZTRypJ7Fz+IQvW1GqHQ5AI7dJ4PxaLWwbp2nfMPYml7Mat1QkUOc0+TjYodGenqROp8Q4a8
4NqpvjzUzL/l56PvYSYtxTr+GRI/F80aHVPTIi7NM2f/0vghrTMgn9Mi2zwu9fiwTiExWrkAOmPS
gGmIlUpayZ1B1txsdS5WCLFFJPbsmVQ6cySdhZKcSdkbdxhPKhgjUgYz1tQXKrQMMrjMspFhqdv/
VL5Z8awUzeOOoTP5WmJVeVm53CdHr8nXQdPFOcpMNfcJ0ipyNGoiL5KeMAd+CwunE3IpFGZSGJ2m
h2JhJk36JiOcoqOpkfSVE3H/tj0aI4NcNcpFi3Obj5f4xg/l2vTc76rplatzFQpFZvyx0yYdJCPJ
o7U3bDaq8sQKRUbZns+NBrgpNSk0+3cblKZkvVm+3rByJaJ/WQNhyovwz/OQ5dNU2a8dzfD6noFW
nLZU+Yx+mc9RMEdHoz/NqP/vkFWbQ+pPyCf+0lpnYqLZ9gCvTZhF0Rc4Sp7fhCOIPyfFwkx6MFUh
d++cTnuGUmJGd3EfXR3tcWdoMtA3PT0f2TI4adeS1/4fDfmK4wAAAHjarVnNbxy3FadkObaVOLXR
FihSASV8iRSMRx+1hDgCWjgpDBh2HMPaGEhQFODOcHcJzQwnJGc3G/TSS29FTr0VKHrMtb0U6KGH
/gU99No/oceilwJ975Gcnf3QSjFqwZo35OP7+L0PcijGGN/4Ndtg/l/KfhHoDfYO+1ugN9kN9q9A
X2M/2jgJ9Ba7t/G7QF9nDzd/HOg32A82fx/oG+yX1/4Y6Jvs7tZZoG+x21u/CvSb7Ptbfwn0W0D/
N9C3b/z2ez8N9NvscOdhoO+wuztfB/ouu7nzJ7BqY+sWvP2cLER6gz1gvwn0Jqz+Z6CvsZ+wfwd6
i/1s41WgrzOz8ddAv8EONstA32D/2fxzoG+ye1v7gb7F3tmSgX6Tvbf1daDfAvrvgb79nfeufzfQ
b7P+D/8R6Dvs3s55oO+yOzt/YN8wzo7YATtk7wP1lBVMsRKoHpuymkmgHjPNGlaxnBkYS2HkEXAV
8HwJvEM2Yo5ZepPwlMA1ht85cLJv+NHB4fv8aaFK3pvWkj/WTZWbacofFQV/qYYjZ/lLaaUZyxz4
eyBQgvoaVFpSrUAxGnFG44r1YaYA4WggqnOwSMmy1pY/VpXkZ7JUfV3kvCctzKFNQ7C+YALsYi/l
sCkEEIdg3QH8HLFT8PkZe8I+BmpefVR+f0k5O0wPDo5Onz578vFp0I7K70flr+cIX7T2Ysd468gr
AtyCQA0K+JxjL0AZBzqFhDyFMGlQkhHfmDhPYAb/H9N8CUrPQRpyDWC0ICOPaB75juHnIUhjr6Sx
Slfcg/DijB+kD05H2mW6GvPDk/QkPX5wWopzqd0gLVT/KD1OT46PHx6wCwCOAKwAuoMu+n0lhBW9
S3g6cBrh4eAahyeiq0iVpDdE3wElgJIEgAEIOEiMa1bPDmhmRNourxhOlnH2HOYm8PwcnoJiXJEF
/rkftOqO1VmQg1YoAildyApluVRuJA0X3Mihsk4amXNnRC5LYc65xpnO64AD93JBclXx53LCP5ei
EFXO4f8+LNUkOgMeZ5S0oP1yd9mScFxlQljOgHcScrZP3AZ8ONMTSKo+vGIzcSD3AwBkHzjxJwXY
vdaUIElB11fA6lz9wf7+ZDJJz0Flmum0+ur/IaHrYyzNx1Q3SD2DuQzGK/qNzXBIyYQpIoknZdtL
demrEJNAU3sswXvkSNr2e0LrtkGnT6wezZeE2izlPIrr7bIX2MXZ7orRPRifwFrf0gUgVwOFaYsW
OoqWJB+ukuq7Lddem9qcfUZcOOuppB0zc7SlVYq8jWtyypgKpGoqxZnUJniK79MWpaj/3QuROiNO
9EwQFmjXMh/a4iPyIkRCUWb5tvEp6V6O2KIMTo0johltzgPmPqJVBwHffIbkE8ZaAE/MIU0o+C04
ohOlRyzcWlsc0NhWDLUgF1ZEzjFpbKg5zevGtYPQoGpabUP2dO27yCOsOGzUPk6rrJ+XebkXI+BH
CXj48KsVzSZkhQSsYxMv4dmn7Jad7MZK6Xq3yiZFM47QKC61ySMg2oj7jMSNYxzq0r5WzL1EROcL
4FWdbUvTJjcm+5pONC+28vXzZtBuifhW0MywfVdrbYznCr+hIiIZrehmNSIzom4Tt75o56wz1YRV
BhxiweYBHZkKsqzbA311zjxugmcVbbLf3ncfU5/NJdmJnoiOdf4wIgPWvbZfK9otME45zSbUDxrS
5TmiTb53qbbPIIbJgvaKqrQMSOlQY9473Y4PYE1GmodrMp9fUtV26cAz66M+i+N40/aOeHAxAV/d
6ecmeG7Dcc0GNBbRVTSzaGXksqQn1tSIvBot4TyL8LwHq2tjfa7k4eBo6HTaXKHaYv5Hm+twIsD5
hGq3IpRd2LvW9wHJvgzH1ipg7KVf3kMwE5/M7ahx1xNklX/zEV2nvwr6Y0b5jqvnziWrzhx+Pe5+
I7J8sCIjYgV7JCaUGTnFuYGVmAc5VRqeMZK5LhbjJENVeM9mkldJmO1IRThWzzrzem8Qy/V5gvtN
TieYacjrnGrP703+cwItLULHTkLnHIfskMGXYaiPeEb0fdNb7XezpM1KQbXiz5RxBpF2cx1i9mEx
oVU+A/yJpiQLY055qVk4qZpOntuAqz/5ZuTr1eorWhF5fB/E64MqfK6V9NWXU0TyltPQh1zVIv9J
yA7ECuNUh8r9kOL6ulmazFVHBvtVRXlYkC3DhQ89QzuVCCeE7v6jl6y7CjZJ50wbTxsqeFKQDRnQ
TbvT4NnHdxPfO0znGiZZ6IIRh4zWTDu8MfOKUOeeb4bVulNEb23FD0OW+7jPcF3e3WbWRM1X25P9
uaNeyM56xTm9Cftx9/SM+fLRyl28e6qf75m+Zkbf0s5Buztf5cywurNlQZ6gLOjmobdk+VwkqFJl
6O3xZFgsfB8OFipylsXjhW/X+QwedDIhfOvjjdRjXTn+TGWyyiR/NDRSlrJy6Xa8LTpIH/DneizL
vjQJXguepNvbvZGE1aa0/mJC2UVZtiOL77bkHp+oouCirosp70s3kbJacamxi0N7eJnBP9MN34Vf
CVLG/7Z7XA1oJteTqtCC7j14A0pFNUWTcP27XaPO9MBNhJF8tx2ze+DIC3BCOSdz/qmVrWORg5cC
zUTJOVgOjlZkANdmKCplhUOEdFVMUzIH2dEKNy/FaZ4ZKRxM4OBY2UYUYbXlA214baQFeLy8rqJM
lzX4NBMfOJdUjIxuhiOYVpVL+ET28Qap1H1VSIJbZV7dTJKqrBMQjAVJYIBAxwHIXI4hlvZiz4HR
yC8aRVdXmsuxKBpyc07kWmzQexBT6GqITzUvEW8juQBDMmU91HwyknS5hTIpmerGZCMRJA8aGCl8
BkI4SXEDyirtLtQOngLMpTSZEiSu1laC1T3Ma1VlRZNLm/B+49A8lATZpRxZmITllW1AAGKegTqN
9EBkCp3qgM8XQm3jvR7lKECMdIPZgXd3BuzVAw97v7GqktYmrbnK2igSh6woMFIjlY2izeRwUNCJ
xgIqubLOKHBuVdqi5Boaga4SDkYrN0V9czkgv3TSVGAxsC9lSMqf+ELF0hO8hgc4Or++gvUIFCSu
9r1k1jlgvi9Hohi0QGCAwYhJBfDbpm9VroSZJrz1CSLfgDJinjFQIRUqJPOCmpQvYFLqXA1AqMhF
DdXkjKhsAYmdQHKOJcZFVkOIB3ZEyE0QDWWWIJTCWuiU+CIK5xOC7mInCpsTNJqydogUsGbQVA1h
bsFWaL6ZzlfEC0XgCOSgGkK8QTxYh8kHYqWq0PhPAA5jR6qG4H44XQupR0pk55WeFDIfhjtlI51Q
2IywfnQUt2xNQp0W2wbIlkUhM4fZWhsNaQLZYehPQ0lIQbQh0/WURhE8ABHHyKr5FtGbD/wQIAff
yda23EgMLl5RydA76gBn3fZ04LO+PW9vfzQrcd/qQ2ZCZEYXyMTusKIzdJINCt+JzHkMQUjbiwS3
ErIdm2HoRiStbVHjsLsGgAcEwuwO3F7hFnyfvho0nMP2584I/kR4n57+rFB2vgjp7twuXZ7v9ws9
3PemQoTuqwrMLalC1/3JZvXf8vyf8Jb+JtT+Deh/W43y1wAAAHjabczZUgEAAEDRgw+Qya7xlKVC
aJHtzVZaLNn5wj4yxrMzc1+voLP/P1mX9E8FBIWEXYm4FhUTl5CUkpZx41ZOXkHRnXsPSsoqHlXV
1D159uJVw5umlraOrt7pPDA08u7D2Kcv335MTM3M/VpYWlnb2NrZOxwBC6UQSwAAAAAB//8AAnja
Y2BkYGDgA2IJBhBgYmBkYGZwAZIsYB4DAAdQAHkAeNpjYGRgYOBi0GHQY2BycfMJYeDLSSzJY5Bg
YAGKM/z/DyQQLCAAAJ7KB2t42rWY3W9cxRXAz7374c16veskTpoCNiG0aQAXwjdNJRQi1CfUJ/4B
JOClFapQ/4Q+9IkHpEpVJRAqtFXBBMRHQxAEChRBBC4GE5ckJHZcG9vrOLuJ2ay/9vQ35+7uvXZ2
jRdv7+juzsyZc+bM+Z4rnoikZb/cK/79v3jgQcn++qHfPiZXSZx5URUHj/a9Xz3y+GOScj174+Lz
70va7xHPO2Nre+Q2eUAeld/Jn+QtOSHL3jZvv/dL72Hvce/33tPegPeK94Z33PtMklCKS6eeki4t
SpY3pxXp1nNAtuginPlAl4FWJCcxIAvSISldAXoBKLiszPCf1RLQgiSAzBteF/hZHWP2S3ZJMQpx
4tLFiix0cvx365zjxFZMGG5Wp6qQCdlS3W9K0ow69YhkNA/1M5KFTk4vsWrF9i0a9ZCbOeO1DGQc
3FlwL4JbAsppdAloL729QPeB20//AGc9yCkOsTIBdBrIsvRD9wB0DoEbY32e0QLrTtuacWZKrDvH
uqQc5KxuNs9oK+s+Zt0QmMcNc46Zb5h5E83dLn2mP6cB25vzHoTSIWh7/JbB6Gd8AHkeZOSh1xTS
SCO/DPLLIqFu2SY7pVd2y17ZhxXdKj+Hg0Pi7yg7S+iZ2vEb6N6M9czLdrDRsi7pmI6yXwYKWdmp
FdoyYyezpBZoi9LSo5/qv0yaPWaLIjF2+Jo9CrzLwL9ldBj9ubXnkVFrTxq+RCf1kuaRKtha5gwF
OA52L6PTip7WkzaqMN4o30f0GHLMwbdoCd2ILrDHPP+Oa7drXp9BGs56l5H6FmS2Udp/1Kf1fZ2s
jxf1b/os1N7Vl7AvAfYs7WUdor2vK3pWP8ZXNvokdQQpIA+dc3ybfOZ1oL7buNO+HuN8YqeYls0+
scjZFqW9TzZC+2J7SevlSL/cZr53RGh/0Ga+/7sudOV7Uq36DLZc7WNFFWy/TMzZ1Ra+ByP9w1dA
z2+KeE/bKF35xCO0L8n/7alrYPOUxvSEniHC5um72DWiz7u+xfrk6hO1ziXUi/pOfXxW4i6yOg9y
J2jJ/lJ6jvh2VIf1OX2d7CU6RdT6rE57kghf0QF9iX6BWFWNmfoHnWX09+bnIA7tIut0knV84utl
VwURoXPE9BqOi9cJYItWI8XtDTD9ahzzm9D+0iqelPVPIekSGYA8QJYlEpLt3Lm+INOt0CrMxWuU
9ETgoZzxWx1pSNyXq119ZKuKVB4pzpB2kglzHnndJ6KX1nBVNJz5dTQ3i+7TVDyTrDsR8IIUMnKX
QR3fGbJBUr/RmdW2yGnIe8xPo+eZDdtJORpVzT5K6G3WMuhKBNbBaWbXofQRGXAltFpwx4Pc5vhx
/s7oKPbg6pMLlk8v1/00DqzAW2zu3fo5FAtY4mmqNouvSP6VSL7cyln+oUdt5wI1WjD/H7PW19YV
wg+pzDr0NSi+YBGv23SZWaVLIbt/subET35X3rBTray2eKTr6pKis12qoJJO0J+rSmoxIu+0q2ho
TXI1Nalg3wmr1k7rV4aJH2HfNTvxdRjYgmusy+BpAeaIw2J2lopsuKm8R7GMITznHf2n2cm0XtB3
Iz7v4smwfm42V6zZm76tF9H08DoymTSuffZexEIm4DRmfrnNfHEReaVMNq42WlodL6v13Xkk0zC7
6pumaW4d4W5I5iQWULOHU8TYgvUKdvMJa9lkVT+TjSWOLKailRMrZ5wt1+3b2e8gMnI6mzF4qM2k
zY42q8yJq0ewr/Gw5sESB6i4B5l3O3zAaEBfZzxI38WFT+oe3s3MIJVivom8X9UXqU+nInwPUMX+
GXsfMNrHGP2V/d6jvQ3tL6hwv65FX6DvMc6vE7+pRSJW22W+E8rVRmh5olG+bjDbcs4na45Ea9sq
Z0tNInfzx8XY3WHewWIS6Os8cTCG56TX+PVUK/kzrL8tYvu1rFUdbTjPW87dx83XWeKg/sVuDrtp
LhIEz26ziHEdjcikz3mG4Y9ixSVyuPsWkbTIWJA+Zj5suF3CtNfn+LcolgYrhd8W7DQJiz0hb4VW
ZGJ31kqYHenPSNse8nYZLnO1UVArmO+lVluJ2XDXpve71LjibK0OhZNYTWtmGTH04272yy4XX7G6
4ey6PC6FcRnOnO/M1jJ6WJGYTGbboINi42y+To7fwM018BwibsP7cC3Kt+jzflXegc+P0RZcvbPG
vs8GdUfjLxyyR0+C+7we16f0KauRL1ier33jmDMbf4G46zLphIv1Thv6BOtm9LnqV68Yvj1BnL+s
/9ZTZLFUw1MumU1U6tpaxqsrYMftXph0d8PG96INSjsRWJb9JpwssMNJvGitBy8w28p3iRicV8KY
D+9xqzZLV96porFhc37Z6L7Wol+OUeeMElPDe9rhVfe0NTeQVr5SQHuI6m2U+1lAewgbmq7WJ6to
B3VkS19AkmE8aeBH7Xj6IicZbgkzyH95+356n9wqP+H9GX6TkyxW30FMzrgv2K7ylu3SIztYuVN+
QNtFvX6V3cCu4UTXSC9cXGuZ+zo8do9cLz+SH8teuZlMeYPcKLfITdIvP2V8C20/sE65TW6XO+RO
POwu2Sp3yz1VPraz73Zo3sD6fnjaC+6NYOwD3stuvdaCf99+r6+O3Rtn/yTcdMBB8J33WvvS2wmv
WfbKwXs3bSttGxxn+O+x01zH+fbY+Xzj5H6R/wH3KS/YAAAAAAEAAAAAxmW3ygAAAADWoPJKAAAA
ANag5Jo=) format('woff');
  font-weight: normal;
  font-style: normal;
}




body, * {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, a {
  color: black;
}

body, p {
  font-family: 'PT Serif', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'TF-Semi', serif;
}

h1 {font-size: 50px;}
h2 {font-size: 30px;}
h3 {font-size: 20px;}
p {font-size: 16px;}

a {
  text-decoration: none;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  max-width: 800px;
  width: 100%;
}

.image {
  width: 100%;
  height: 400px;
  background-color: blue;
}
